@{
    ViewBag.Title = "Queue Messages";
}

<h2>Queue Messages</h2>

<p>
    <a asp-action="SendMessage" class="btn btn-primary">Send New Message</a>
</p>

<!-- You might want to list all queues here or show a message -->
<p>Select a queue to view messages.</p>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
